---
title: Home
page: home
---

<div id="home-content-div">
  <h1 id="title-header" class="main-header"><%= book["home_title_text"] %></h1>
  <div id="home-image-div">
  <img id="home-image" src="../../images/climbing/0ALL32_ojosAtacama_HUTS_B_W.jpg" width="100%" height="auto" />
  </div>
  <h2>A CHRONICLE OF AN ANDEAN CLIMBING CAREER, THE FIRST THREE EXPEDITIONS WITH A NOTABLE CLIMBING COMPANY, THE FOLLOWING TWENTY-SEVEN PRIMARILY ALONE AND SOLO, AS TOLD IN EXCERPTS FROM "THE PRELUDE TO CLAWING FOR THE STARS" AND "CLAWING FOR THE STARS."</h2>
  <div id="description-wrapper-div">
    <div id="description-div">
      <p id="book-description-p">Refugio Atacama at 16,730 feet on the slopes of Ojos de Salado, Chile. R. Villarreal Collection.</p>
    </div>
  </div>
  <p id="contact-p">Should you have questions or problems with my website, please contact me with email at <a href="mailto:r1villa@pacbell.net">r1villa@pacbell.net</a></p>
  <div id="site-credit-div">
    <p><i>Site designer: <a href="mailto:villarreal@weber.lol">Eric Weber</a> - Previous site designer: Nicholas Ward <a href="acknowledgements">(more)</a></i></p>
  </div>
</div>
