---
title: Home
page: home
---

<div id="home-content-div">
  <h1 id="title-header" class="main-header"><%= book["home_title_text"] %></h1>
  <div id="home-image-div">
    <img id="home-image" src="../../images/climbing/ANEWCLAW_OJOS_SUMMIT.jpg" width="100%" height="auto" />
  </div>
  <div id="description-wrapper-div">
    <div id="description-div">
      <p id="book-description-p">Self photo on the summit of Ojos del Salado at 22,615 feet, the view behind to the northeast of El Muerto at 21,247 feet on the left and Incahuasi at 21,651 feet.</p>
    </div>
  </div>
  <p id="contact-p">Should you have questions or problems with my website, please contact me with email at <a href="mailto:r1villa@pacbell.net">r1villa@pacbell.net</a></p>
  <div id="site-credit-div">
    <p><i>Site designer: <a href="mailto:villarreal@weber.lol">Eric Weber</a> - Previous site designer: Nicholas Ward <a href="acknowledgements">(more)</a></i></p>
  </div>
</div>
