div#content-menubar-div {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14pt;
  color: white;
}
div#content-menubar-div a {
  color: white;
}
a.content-menu-link {
  margin-right: 10px;
  margin-left: 10px;

  text-decoration: none;
  cursor: pointer;
}
a.content-menu-link:first-child {
  margin-left: 0px;
}

div.content-container-div {
  margin-top: 20px;
}

h1.media-header {
  font-family: "Playfair Display";
  font-weight: 200;
  font-size: 30pt;
  color: #D3E2FA;
  margin-top: 10px;
  margin-bottom: 0px;
}

div.embedded-movie-container-div video.fallback-player {
  display: none;
}
