<div id="header">
  <div id="content-menubar-div">
    <a class="content-menu-link" href="/<%= book["shortname"] %>/chapters/">MEDIA BY CHAPTER</a>
    <% book["media_managers"].each do |media_manager| %>
      - <a class="content-menu-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/"><%= media_manager["menu_text"] %></a>
    <% end %>
  </div>
</div>
