<div id="header">
  <div id="content-menubar-div">
    <a class="content-menu-link" href="/chapters/">Chapters</a> |
    <a class="content-menu-link" href="/tours/">Tours</a> |
    <a class="content-menu-link" href="/movies/">Movies</a> |
    <a class="content-menu-link" href="/galleries/">Photos</a> |
    <a class="content-menu-link" href="/passages/">Passages</a> |
    <a class="content-menu-link" href="#">Slide Shows</a>
  </div>
</div>
