<div id="header">
  <div id="content-menubar-div">
    <a class="content-menu-link" href="/chapters/">CHAPTERS</a> -
    <a class="content-menu-link" href="/passages/">PASSAGES</a> -
    <a class="content-menu-link" href="/galleries/">PHOTOS</a> -
    <a class="content-menu-link" href="#">SLIDE SHOWS</a> -
    <a class="content-menu-link" href="/tours/">TOURS</a> -
    <a class="content-menu-link" href="/movies/">MOVIES</a>
  </div>
</div>
