<div id="header">
  <div id="menubar-div">
    <a class="menu-link" href="/<%= book["shortname"] %>/index">Home</a> |
    <a class="menu-link" href="/<%= book["shortname"] %>/aboutbook">About the Book</a> |
    <a class="menu-link" href="/<%= book["shortname"] %>/content/">Book Contents</a> |
    <a class="menu-link" href="#">The Next Book: Pedro de Merida</a>
  </div>
</div>
