<div id="header">
  <div id="menubar-div">
    <a class="menu-link" src="#">Book</a> |
    <a class="menu-link" src="#">Home</a> |
    <a class="menu-link" src="#">About</a> |
    <a class="menu-link" src="#">Chapters</a> |
    <a class="menu-link" src="#">Tours</a> |
    <a class="menu-link" src="#">Movies</a> |
    <a class="menu-link" src="#">Photos</a>
  </div>
</div>
