<div id="header">
  <div id="menubar-div">
    <a class="menu-link" href="/home">Home</a> |
    <a class="menu-link" href="/aboutbook">About the Book</a> |
    <a class="menu-link" href="/chapters/">Book Contents</a> |
    <a class="menu-link" href="#">The Next Book: Pedro de Merida</a>
  </div>
</div>
