<div id="header">
  <div id="menubar-div">
    <a class="menu-link" href="#">Book</a> |
    <a class="menu-link" href="/home">Home</a> |
    <a class="menu-link" href="#">About</a> |
    <a class="menu-link" href="/chapters/">Chapters</a> |
    <a class="menu-link" href="#">Tours</a> |
    <a class="menu-link" href="#">Movies</a> |
    <a class="menu-link" href="/galleries/">Photos</a>
  </div>
</div>
