<div id="header">
  <div id="menubar-div">
    <a class="menu-link" href="/home">Home</a> |
    <a class="menu-link" href="#">About the Book</a> |
    <!--<a class="menu-link" href="#">Acknowledgements</a> |-->
    <a class="menu-link" href="#">About the Author</a> |
    <!--<a class="menu-link" href="#">Reviews</a> |-->
    <a class="menu-link" href="/chapters/">Book Contents</a> |
    <a class="menu-link" href="#">Pedro de Merida</a><!-- |
    <a class="menu-link" href="/tours/">Tours</a> |
    <a class="menu-link" href="/movies/">Movies</a> |
    <a class="menu-link" href="/galleries/">Photos</a> |
    <a class="menu-link" href="/passages/">Passages</a>-->
  </div>
</div>
