<div class="content-container-div" id="tour-container-div">
	<div class="tour-div embedded-movie-container-div">
		<% tours_info["tours"].each do |tour_info| %>
			<h2><%=tour_info["title"]%></h2>
			<iframe id="youtube" width="960" height="540" src="<%= tour_info["url"] %>" frameborder="0" allowfullscreen></iframe>
		<% end %>
	</div>
</div>
