---
title: A video of a climb of Illimani.
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">A video of a climb of Illimani.</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
