---
title: The Train from Cusco to Machu Picchu
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">The Train from Cusco to Machu Picchu</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
