---
title: The Eruption of Pichincha in 1999
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">The Eruption of Pichincha in 1999</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
