---
title: Home
page: home
---

<div id="home-content-div">
  <h1 id="title-header" class="main-header"><%= book["home_pre_title"] %><br /><span id="title-first-line-span" class="main-header-first-line-span"><%= book["home_title_text"] %></span><br /><%= book["subtitle"] %></h1>
  <div id="home-image-div">
    <img id="home-image" src="../../images/prelude/prelude.jpg" width="100%" height="auto" />
    <p id="title-image-caption-p">The top of the Polish Glacier route at 21,430 feet, looking east down the Relinchos River Valley to the Vacas River Valley in the distance. The author is the second climber and the anchor for the rope team. R. Villarreal Collection.</p>
  </div>
  <div id="purchase-links-div">
    <p>Where to purchase this book:</p>
    <ul>
      <li><a href="https://www.amazon.com/Clawing-Stars-Rendering-Mountains-Ascended/dp/1665557079/" target="_blank">Amazon</a></li>
      <li><a href="https://www.barnesandnoble.com/w/clawing-for-the-stars-bob-villarreal/1141466112?ean=9781665557078" target="_blank">Barnes and Noble</a>
    </ul>
  </div>
  <div id="site-credit-div">
    <p><i>Site designer: <a href="mailto:villarreal@weber.lol">Eric Weber</a> - Previous site designer: Nicholas Ward <a href="acknowledgements_and_reviews">(more)</a></i></p>
  </div>
</div>
