---
title: A Video Tour of the Isla del Sol on Lake Titicaca
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">A Video Tour of the Isla del Sol on Lake Titicaca</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
