---
title: Landing in La Paz, Bolivia
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">Landing in La Paz, Bolivia</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
