---
title: FLIGHT FROM CUSCO - PERU TO LA PAZ
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">FLIGHT FROM CUSCO - PERU TO LA PAZ</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
