---
title: Video of a climb of the Polish Glacier Direct route and then on to the Aconcagua summit.
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">Video of a climb of the Polish Glacier Direct route and then on to the Aconcagua summit.</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
