---
title: Santiago to Mendoza
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">The flight over the Andes from Santiago to Mendoza</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
