---
title: Flying over Amazon storms on the way to Miami
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">Flying over Amazon storms on the way to Miami</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
