---
title: A National Geographic video tour of Machu Picchu
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">A National Geographic video tour of Machu Picchu</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
