---
title: Bob Villarreal - Clawing Chapters
page: clawing chapters
content_page: true
---

<div id="main">
  <% chapters.each do |chapter| %>
    <p><a href="/chapter/<%= chapter["shortname"] %>"><%= chapter["longname"] || chapter["name"] %></a></p>
  <% end %>
</div>
