---
title: Bob Villarreal - Clawing Chapters
page: clawing chapters
content_page: true
---

<div id="main">
  <h1 class="media-header">Chapters</h1>
  <% chapters.each do |chapter|
    if chapter["book_chapter"] %>
      <p><a href="/chapter/<%= chapter["shortname"] %>"><%= chapter["longname"] || chapter["name"] %></a></p>
    <% end
  end %>
</div>
