<% puts "#{gallery_info["name"]} gallery is being built." %>
<div>
	<h1 id="gallery-header"><%= gallery_info["name"] %></h1>
	<a id="gallery-link" href="/galleries/">All Galleries</a>
  <%= partial "partials/gallery" %>
</div>
