<% puts "#{gallery_info["name"]} is being built." %>
<div>
	<p>I'm a gallery! Yay!</p>
	<p><%= gallery_info["name"] %></p>
	<div>
		<!-- The Ruby below does two important things. Firstly, it reads the filename matrix (gallery) declared in config.rb and defined in curtiss_image_process.rb, creates a <div> of class row for each row in the matrix, and then generates an <img> tag for each filename in the row. Secondly, it increments a counter (galleryIndex) for each operation, which it then passes to the <img> as part of its id. This becomes very important in the JavaScript. -->
		<div id="gallery-container-div">
			<div id="gallery">
			<% galleryIndex = 0
			filename_matrix.each do |row| %>
	    	<div class="gallery-row">
	    	<% row.each do |filename| %>
					<%= image_tag gallery_folder + "/" + thumbs_folder + "/" + filename, options = {"id" => "galleryIndex" + galleryIndex.to_s} %>
		  		<% galleryIndex += 1
		  	end %>
		  	</div>
			<% end %>
			</div>
		</div>
		<div id="gallery-overlay-div">
			<div id="gallery-overlay-image-div"> </div>
			<div id="overlay-thumb-div" class="dragscroll"> <!-- The dragscroll class is used by the dragscroll plugin, which (rather nicely) has no further interaction with any of the source, nor does any of the source need to contribute anything to making the this <div> draggable. -->
			</div>
		</div>
	</div>
</div>
