---
title: Gallery
content_page: true
media: galleries
index_page: false
---

<% gallery_info = media_entry %>
<% #puts "#{gallery_info["name"]} gallery is being built." %>
<div>
	<h1 class="media-header" id="gallery-header">Galleries - <%= gallery_info["name"] %></h1>
	<a id="gallery-link" href="/<%= book["shortname"] %>/galleries/">All Galleries</a>
  <%= partial "partials/galleries" %>
</div>
