---
title: Bob Villarreal - Clawing Movies
book: clawing
content_page: true
media: movies
index_page: true
---

<div id="main">
  <h1 class="media-header">Movies</h1>
  <% media.each do |movies_info| %>
    <p><a href="/<%= book["shortname"] %>/movies/<%= movies_info["path"] %>"><%= movies_info["name"] %></a></p>
  <% end %>
</div>
