---
title: Bob Villarreal - Clawing Movies
page: clawing movies
content_page: true
---

<% puts "#{movies_info["name"]} movies are being built." %>
<div>
	<h1 class="media-header" id="movie-header"><%= movies_info["name"] %> | Movies</h1>
	<a id="movies-link" href="/movies/">All Movies</a>
  <%= partial "partials/movies" %>
</div>
