---
title: Bob Villarreal - Clawing Passages
page: clawing passages index
content_page: true
---

<div id="main">
  <h1 class="media-header">Passages</h1>
  <% media.each do |passages_info| %>
    <p><a href="/<%= book["shortname"] %>/passages/<%= passages_info["path"] %>"><%= passages_info["name"] %></a></p>
  <% end %>
</div>
