<% puts "#{passages_info["name"]} passages are being built." %>
<div>
	<p><%= passages_info["name"] %></p>
	<!-- The Ruby below does two important things. Firstly, it reads the filename matrix (gallery) declared in config.rb and defined in curtiss_image_process.rb, creates a <div> of class row for each row in the matrix, and then generates an <img> tag for each filename in the row. Secondly, it increments a counter (galleryIndex) for each operation, which it then passes to the <img> as part of its id. This becomes very important in the JavaScript. -->
	<div id="passages-container-div">
		<% passages_info["passage_array"].each do |passage| %>
    	<div class="passage-div">
				<p class="passage"><%= passage["passage"] %>
	  	</div>
		<% end %>
		</div>
	</div>
</div>
