---
title: Bob Villarreal - Clawing Passages
page: clawing passages
content_page: true
---

<% puts "#{passages_info["name"]} passages are being built." %>
<div>
	<h1 class="media-header" id="passages-header"><%= passages_info["name"] %></h1>
  <%= partial "partials/passages" %>
</div>
