---
title: Bob Villarreal - Clawing Tours
page: clawing tour index
content_page: true
---

<div id="main">
  <h1 class="media-header">Tours</h1>
  <% media.each do |tour_info|
    puts tour_info["shortname"]
    puts tour_info["name"] %>
    <p><a href="/<%= book["shortname"] %>/tours/<%= tour_info["path"] %>"><%= tour_info["name"] %></a></p>
  <% end %>
</div>
