---
title: Bob Villarreal - Clawing Tours
page: clawing tours
content_page: true
---

<% puts "#{tour_info["name"]} tours is being built." %>
<div>
	<h1 class="media-header" id="tours-header">Tours | <%= tour_info["name"] %></h1>
	<a id="tours-link" href="/tours/">All Tours</a>
  <%= partial "partials/tours" %>
</div>
