---
title: Tours
content_page: true
media: tours
index_page: false
---

<% tours_info = media_entry %>
<% #puts "#{tours_info["name"]} tours is being built." %>
<div>
	<h1 class="media-header" id="tours-header">Tours - <%= tours_info["name"] %></h1>
	<a id="tours-link" href="/<%= book["shortname"] %>/tours/">All Tours</a>
  <%= partial "partials/tours" %>
</div>
