---
title: Bob Villarreal - Clawing Tours
page: clawing tour index
content_page: true
---

<div id="main">
  <% tours.each do |tour_info|
    puts tour_info["shortname"]
    puts tour_info["name"] %>
    <p><a href="/tours/<%= tour_info["shortname"] %>"><%= tour_info["name"] %></a></p>
  <% end %>
</div>
