---
title: About Author
page: about author
about_page: true
---

<div id="about-content-div">
  <h1 id="about-header" class="main-header"><span id="about-first-line-span" class="main-header-first-line-span"><%= book["home_title_text"] %></span><br />ABOUT THE AUTHOR</h1>
  <p>Bob Villarreal acquired a passion to climb at high altitude later in life, at 44. From that moment, until his last climb in November, 2009, at 65, he made thirty forays into the Highest Andes. The majority of those climbs were solo ones. His driver, Giancarlo Fiocco or Patricio Rios, drove him to the mountain, dropped him off at Base Camp, and then returned in another two weeks. In one of the remotest parts of the Andes, along the lengthy border between Chile and Argentina, the nearest mine or Customs Station was 35 to 90 miles away. Should calamity strike the only recourse available to him was to walk out to safety. His stories appear in his book, <i>Clawing for the Stars: a Solo Climber in the Highest Andes.</i></p>
  <p>Bob is a retired telephone company executive. He lives in Livermore, California with his wife of 40 years. They have two adopted daughters, one from Cuzco, Peru, and the other from Pasto, Colombia. He sees his children and three grandchildren several times a week. He plans one day to take his grandson, Alex, on a trip to visit the mountains of his dreams.</p>
</div>
