---
title: Acknowledgements and Reviews
page: acknowledgements and reviews
about_page: true
---

<div id="acknowledgements-content-div">
  <h1 id="acknowledgements-header" class="main-header"><span id="acknowledgements-first-line-span" class="main-header-first-line-span"><%= book["home_title_text"] %></span><br />ACKNOWLEDGEMENTS</h1>
  <p>I wish to acknowledge those who have helped make this site possible.</p>
  <p><strong>Eric Weber</strong> (<a href="http://www.weber.lol">website</a> | <a href="mailto:webmaster@eweber.me">webmaster@eweber.me</a>) designed and developed this site, <strong>Aidan Cameron-Smith</strong> (<a href="mailto:aidancs314@gmail.com">aidancs314@gmail.com</a>) maintains the site and adds new content, and <strong>Nicholas Ward</strong> designed the companion site prior to this one.</p>
  <p><strong>Alex Currie</strong>, my grandson, gave me the idea to provide Google Earth tours for each chapter. At first, I had no idea what an Earth tour was. Once I learned more, I recognized their importance for the book and the site. He also asked me to write the book!</p>
  <p><strong>Guillaume Ceyrac</strong>, a French citizen whom I met in 2012 when he dropped me an e-mail note about his climbs in the Andes. When I encountered problems with the tours, he provided advice and encouragement. He also offered valuable suggestions about website and video presentations. Please visit his photo and video site <a class="sanctioned" id="guillaumeyoutubelink" title="Guillaume's YouTube Channel" href="http://www.youtube.com/user/BoludoDeLosAndes">here</a> to enjoy his adventures. To see his video of his ascent of the three summits of Tres Cruces, please visit <a href="movieGuillaumeCeyrac.html">this page</a> in the "Watch a Movie" section on the website.</p>
  <p><strong>Rich Termini</strong>, owner of Home Video Productions in Pleasanton, California, edited my rather rustic camcorder files and made them viewable.</p>
</div>
<div id="reviews-content-div">
  <h1 id="reviews-header" class="main-header">REVIEWS</h1>
  <p>Unsolicited review by a reader:</p>
  <p>"While we were on vacation this past week at the beach I had opportunity to read your book. It almost ruined my vacation as I could hardly put it down once I started. You have a definite writers flair and your style is something like a cross between Hemingway in style and Michener in details. Anyway, I found it fascinating and learned enough about high altitude climbing that I doubt I would have made a successful climber. You had me thinking at almost every turn you were going to die or incur great calamity from a fall or cerebral edema (a term I have never heard).</p>
  <p>I hope your grandson was thrilled with the book and I hope you will if not already take him to see the great peaks of the Andes. I certainly hope the book sells well and sends you up the mountain again. I almost think the book should become a required reading for anyone who even thinks they want to be a high altitude climber."</p>
</div>
