---
title: Bob Villarreal - Clawing Home
page: clawing home
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="home-content-div">
  <h1 id="title-header" class="main-header"><span id="title-first-line-span" class="main-header-first-line-span"><%= book["home_title_text"] %></span><br />A SOLO CLIMBER<br />IN THE HIGHEST ANDES</h1>
  <div id="home-image-div">
    <img id="home-image" src="../../images/clawing/home.jpg" width="100%" height="auto" />
    <p id="title-image-caption-p">Self photo on the summit of Pissis, West I, Argentina, 22,135 feet (6747 m), a first solo ascent. R. Villarreal Collection.</p>
  </div>
  <div id="fb-div">
    <div class="fb-page" data-href="https://www.facebook.com/AndesClimber" data-tabs="timeline" data-width="470" data-height="260" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AndesClimber" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AndesClimber">Bob Villarreal</a></blockquote></div>
  </div>
  <div id="book-description-div">
    <p id="book-description-p">An aging climber returned again and again, alone, to remote Andean mountains. What motivated him? What was he seeking? Adventure? Danger? Something of deeper meaning? Did he ever find what he sought? Perhaps the reader will come to understand what drove him on with the reading of each chapter.</p>
    <p id="contact-p">Should you have questions or problems with my website, please contact me with email at <a href="mailto:r1villa@pacbell.net">r1villa@pacbell.net</a></p>
  </div>
  <div id="content-links-div">
    <p>Links to more content about this book:</p>
    <ul>
      <li><a href="http://www.youtube.com/channel/UCxaDd4ADY0LGfN58xAknPuQ" target="_blank">YouTube</a></li>
      <li><a href="http://bobvillarreal.blogspot.com/" target="_blank">Blogspot</a></li>
    </ul>
  </div>
  <div id="purchase-links-div">
    <p>Where to purchase this book:</p>
    <ul>
      <li><a href="http://amzn.com/1458213226" target="_blank">Amazon</a></li>
      <li><a href="http://www.barnesandnoble.com/w/clawing-for-the-stars-bob-villarreal/1119481131?ean=9781458213228" target="_blank">Barnes and Noble</a>
      <li><a href="https://play.google.com/store/books/details/Bob_Villarreal_Clawing_for_the_Stars?id=2r0PAwAAQBAJ" target="_blank">Google Play</a>
      <li><a href="http://bookstore.abbottpress.com/Products/SKU-000695785/Clawing-for-the-Stars.aspx" target="_blank">Abbott Press</a>
    </ul>
  </div>
</div>
