---
title: Bob Villarreal - About Chronicles
book: chronicles
page: about book
about_page: true
---

<div id="about-content-div">
  <h1 id="about-header" class="main-header"><%= book["home_title_text"] %>:<br />ABOUT THE BOOK</h1>

  <p>This book, The Chronicle of Pedro de M&eacute;rida, requires an introductory explanation. It contains four Letters that are historical narratives purportedly written by Pedro de M&eacute;rida to Philip II, the King of Spain. In the first three, de M&eacute;rida, one of the conquistadors of Peru and Chile, tells of the Diego de Almagro Expedition to Chile in 1535 to1537 and the return to Peru, a total distance covered of more than 3,500 miles. In the fourth Letter, he recounts his adventures with the Pedro de Valdivia Expedition to conquer Chile during the years 1540 to 1553. </p>

	<p>No formal document exists of the Almagro journey written by a member of the expedition at the time. However, we do have de M&eacute;rida&rsquo;s Letters about the Almagro passage to help fill the void. He wrote them in 1589, at the age of eighty-four, with the hope of receiving forgiveness from the King for participation in the downfall of two sovereign nations (Peru and Chile).    Although we do not have a definitive chronicle of the trek to Chile, historians through the centuries have identified the principal Spanish and Indian participants, the dates of several events, and numerous undated incidents. I have footnoted those people and occurrences known from the historical record. Also included is an annotated bibliography of the most important works I consulted to verify de M&eacute;rida&rsquo;s Letters for their accuracy of historical details. </p>

	<p> In the first correspondence, he tells of the departure from Cuzco, Peru, on July 3, 1535, the journey south through present-day Bolivia and Argentina, the arrival in Tucma (today&rsquo;s San Miguel de Tucuman, Argentina) in late December, and the departure on January 1, 1536, for the journey over the Andes by way of the Great Plateau, a high mountain table that stretches from the San Francisco Pass in Argentina to today&rsquo;s Laguna Santa Rosa in Chile. This Letter&rsquo;s account ends there at the Laguna.</p>

	<p>The second Letter begins with the arrival in Copayapu (today&rsquo;s Copiapo, Chile). De M&eacute;rida then tells of the fruitless search for gold on the often perilous trip from that town south to the area of present-day Santiago, Chile, and the return to Copayapu. On this part of the passage, de M&eacute;rida learns there are Inca huts on the top of a mountain in the northern part of the country. He and Father Molina receive permission from Captain Almagro to learn more of this seemingly impossible accomplishment later in the journey. </p>

	<p>The third missive relates the story of the return to Arequipa in 1537 and the many extraordinary sights and events the men encountered along the way. In the town of Atacama, de M&eacute;rida, along with an Inca interpreter assigned to the expedition, question a man who helped build the huts on the summit of the great mountain the Indians called Llullaillaco. It is an astonishing story about one of the most amazing feats in Andean history.</p>

	<p>The fourth Letter recounts de M&eacute;rida&rsquo;s journey with the ill-fated Pedro de Valdivia in 1540 in another Spanish attempt to conquer Chile. After years of travails, the Araucanian Indians wiped out Valdivia and his force in 1553 south of present-day Santiago. De M&eacute;rida lived, however, since his assignment was to help guard Valdivia&rsquo;s rear from attack. The accounts provided by the chronicler agree with the historical record because he used as references the five letters written by Valdivia himself to King Phillip II telling him of his efforts to settle the country. </p>

	<p>The stories of de M&eacute;rida make for unforgettable travel adventures back to a remote land and age, when the search for gold and the desire for power dominated men&rsquo;s actions. They offer the modern reader a rare look into the historical events of long ago that shook the foundations of the Inca Empire. </p>

	<p>As an aside, I have personally traveled some 70% of the routes followed by both expeditions and thus am able to convey my understanding of the terrain and people encountered in de M&eacute;rida&rsquo;s telling of things. </p>

  <p>The Author. </p>
</div>
