---
title: About Author
page: about author
about_page: true
---

<div id="about-content-div">
  <h1 id="about-header" class="main-header"><%= book["home_title_text"] %>:<br />ABOUT THE AUTHOR</h1>
  <p>Bob Villarreal acquired a deep interest in the Spanish Conquest of Peru in the late 70's when he and his wife adopted two young infant daughters, one from Cuzco, Peru and the other from Pasto, Colombia. He has maintained that interest throughout the years and has acquired many books, several very rare, that tell the story of the Incas before the arrival of the Spanish, the events of the Conquest, and its impact through the succeeding centuries.</p>

	<p>His knowledge allows him to present <span id="alonetitle"><u>The Adventure Chronicles of <i>Conquistador</i> Pedro de M&eacute;rida</u></span> as an autobiographical account of the Spanish conquest of Peru and Chile in the years 1524 to 1540. He blends together actual events and participants in a historical fiction narrative similar to the genre pioneered by Robert Graves's <em>I, Claudius.</em></p>

	<p>Bob is a retired telephone company executive. He lives in Livermore, California with his wife of 47 years, their children, and their grandchildren.</p>
</div>
