---
title: Acknowledgements
page: acknowledgements
about_page: true
---

<div id="acknowledgements-content-div">
  <h1 id="acknowledgements-header" class="main-header"><%= book["home_title_text"] %>:<br />ACKNOWLEDGEMENTS</h1>
  <p>I wish to acknowledge those who have helped make this site possible.</p>
  <p><strong>Eric Weber</strong> (<a href="http://www.weber.lol">website,</a> <a href="mailto:villarreal@weber.lol">email</a>) designed and developed this site, <strong>Aidan Cameron-Smith</strong> (<a href="mailto:aidancs314@gmail">email</a>) maintains the site and adds new content, and <strong>Nicholas Ward</strong> designed the companion site prior to this one.</p>
  <p><strong>Alex Currie</strong>, my grandson, gave me the idea to provide Google Earth tours for each chapter. At first, I had no idea what an Earth tour was. Once I learned more, I recognized their importance for the book and the site. He also asked me to write the book!</p>
</div>
