---
title: Bob Villarreal - About Clawing
book: chronicles
page: acknowledgements
about_page: true
---

<div id="acknowledgements-content-div">
  <h1 id="acknowledgements-header" class="main-header"><%= book["home_title_text"] %>:<br />ACKNOWLEDGEMENTS</h1>
  <p>I wish to acknowledge those who have helped make this site possible.</p>
  <p><strong>Nicholas Ward</strong>, one of my classical literature students for several years, designed the web site and added the content as I made it available to him. He has done a magnificent job, as each site visitor may witness.</p>
  <p><strong>Alex Currie</strong>, my grandson, gave me the idea to provide Google Earth tours for each chapter. At first, I had no idea what an Earth tour was. Once I learned more, I recognized their importance for the book and the site. He also asked me to write the book!</p>
  <p><strong>Guillaume Ceyrac</strong>, a French citizen whom I met in 2012 when he dropped me an e-mail note about his climbs in the Andes. When I encountered problems with the tours, he provided advice and encouragement. He also offered valuable suggestions about website and video presentations. Please visit his photo and video site <a class="sanctioned" id="guillaumeyoutubelink" title="Guillaume's YouTube Channel" href="http://www.youtube.com/user/BoludoDeLosAndes">here</a> to enjoy his adventures. To see his video of his ascent of the three summits of Tres Cruces, please visit <a href="movieGuillaumeCeyrac.html">this page</a> in the "Watch a Movie" section on the website.</p>
  <p><strong>Rich Termini</strong>, owner of Home Video Productions in Pleasanton, California, edited my rather rustic camcorder files and made them viewable.</p>
</div>
