---
title: Acknowledgements
page: acknowledgements
about_page: true
---

<div id="acknowledgements-content-div">
  <h1 id="acknowledgements-header" class="main-header"><%= book["home_title_text"] %>:<br />ACKNOWLEDGEMENTS</h1>
  <p>I wish to acknowledge those who have helped make this site possible.</p>
  <p><strong>Eric Weber</strong> (<a href="http://www.weber.lol">website</a> | <a href="mailto:webmaster@eweber.me">webmaster@eweber.me</a>) designed and developed this site. He is a man of great technical abilities as well as a sense of humor and a strong moral compass. It is my good fortune to know him and have him maintain the site.</p>
  <p><strong>Alex Currie</strong>, my grandson, gave me the idea to provide Google Earth tours for both <u>Clawing for the Stars</u> and <u>The Adventure Chronicles</u>. I believe they add an important visual aspect that allows the reader to experience the scenery of the ground traveled by me in <u>Clawing</u> and by the characters of the <u>Chronicle</u> in their journeys through South America.</p>
</div>
