---
title: Home
page: home
---

<div id="home-content-div">
  <h1 id="title-header" class="main-header"><%= book["home_title_text"] %></h1>
  <div id="home-image-div">
    <img id="home-image" src="../images/chronicles/demerida.jpg" width="600px" height="auto" />
  </div>
  <div id="book-description-div">
    <p id="book-description-p">TRAVELS TO ANCIENT CHILE IN THE YEARS OF OUR LORD, 1535-1537, WITH DIEGO DE ALMAGRO, AND 1540-1555, WITH PEDRO DE VALDIVIA; BEING ACCOUNTS OF THOSE JOURNEYS TO THE FARTHEST MOST REGIONS OF THE INCA EMPIRE; AS RELATED TO HIS MOST CATHOLIC MAJESTY, KING DON PHILIP II, OUR MOST SOVEREIGN RULER</p>
    <p id="contact-p">Should you have questions or problems with my website, please contact me with email at <a href="mailto:r1villa@pacbell.net">r1villa@pacbell.net</a></p>
    <p id="title-image-caption-p"><b>Painting:</b> Conquistador Pedro de Mérida and Spanish horsemen struggle with their animals upon leaving Tucma (today's San Miguel de Tucuman) on the way to Fiambala. Courtesy Louis S. Glanzman and National Geographic Magazine.</p>
  </div>
  <h1 id="construction-header">SITE UNDER CONSTRUCTION</h1>
  <p>Look for the release of Chronicle some six to nine months after the publication of <a href="/<%= book["other_book_location"] %>"><i>Clawing for the Stars.</i></a></p>
  <div id="site-credit-div">
    <p><i>Site designer: <a href="mailto:villarreal@weber.lol">Eric Weber</a> - Site maintainer: <a href="mailto:aidancs314@gmail.com">Aidan Cameron-Smith</a> - Previous site designer: Nicholas Ward <a href="acknowledgements">(more)</a></i></p>
  </div>
</div>
