---
title: Home
page: home
---

<div id="home-content-div">
  <h1 id="title-header" class="main-header"><%= book["home_title_text"] %></h1>

  <div id="description-wrapper-div">
    <div id="description-div">
      <p id="book-description-p">THE ADVENTURE CHRONICLES OF CONQUISTADOR PEDRO DE M&Eacute;RIDA:  TRAVELS TO ANCIENT CHILE IN THE YEARS OF OUR LORD, 1535-1537, WITH DIEGO DE ALMAGRO (VOLUME I), AND 1540-1553, WITH PEDRO DE VALDIVIA (VOLUME II); BEING ACCOUNTS OF THOSE JOURNEYS TO THE FARTHEST MOST REGIONS OF THE INCA EMPIRE; AS RELATED TO HIS MOST CATHOLIC MAJESTY, KING DON PHILIP II, OUR MOST SOVEREIGN RULER<br /><br />
      As related by himself, Pedro de M&eacute;rida, a Chile Conquistador<br/ ><br />
      By Robert Villarreal
      </p>
    </div>
  </div>
  <h1 class="volume-title-header">PRESENTED IN THREE VOLUMES</h1>

  <div id="volume-select-div">
    <a class="volume-select-a" id="view-almagro-a">Click here to view Volume I: Almagro</a><br />
    <a class="volume-select-a" id="view-valdivia-a" >Click here to view Volume II: Valdivia</a><br />
    <a class="volume-select-a" id="view-pizarro-a" >Click here to view Volume III: Pizarro</a>
  </div>

  <div class="volume-div" id="almagro-div">
    <div class="volume-title-div">
      <h2 class="volume-header">VOLUME I: ALMAGRO</h2>
    </div>
    <br />
    <div id="almagro-image-div">
      <img id="almagro-image" src="../images/chronicles/demerida.jpg" width="425.5px" height="auto" />
    </div>
    <div id="almagro-description-div">
      <p class="volume-image-caption-p"><b>Painting:</b> Conquistador Pedro de M&eacute;rida and Spanish horsemen struggle with their animals upon leaving Tucma (today's San Miguel de Tucum&aacute;n) on the way to Fiambal&aacute;. Courtesy Louis S. Glanzman and National Geographic Magazine.</p>
    </div>
  </div>
  <div class="volume-div" id="valdivia-div">
    <div class="volume-title-div">
      <h2 class="volume-header">VOLUME II: VALDIVIA</h2>
    </div>
    <br />
    <div id="valdivia-image-div">
      <img id="valdivia-image" src="../images/chronicles/valdivia.png" width="425.5px" height="auto" />
    </div>
    <div id="valdivia-description-div">
      <p class="volume-image-caption-p"><b>Painting:</b> Araucanian Indians, under the leadership of Lautaro, defeated Pedro de Valdivia and the Spanish at the Battle of Tucapel in December 1553.  Here, Araucanian warriors celebrate their victory. <span class="attribution">Courtesy Louis S. Glanzman and National Geographic Magazine.</span></p>
    </div>
  </div>
  <div class="volume-div" id="pizarro-div">
    <div class="volume-title-div">
      <h2 class="volume-header">VOLUME II: PIZARRO</h2>
    </div>
    <br />
    <div id="pizarro-image-div">
      <img id="pizarro-image" src="../images/chronicles/pizarro.jpg" width="425.5px" height="auto" />
    </div>
    <div id="pizarro-description-div">
      <p class="volume-image-caption-p"><b>Painting:</b> Lieutenant Alvarado, leading a search for gold outside Cuquimpu, attempts to intimidate a local chieftain into revealing where the natives have hidden the golden metal. <span class="attribution">Courtesy Louis S. Glanzman and National Geographic Magazine.</span></p>
    </div>
  </div>


  <h1 id="construction-header">SITE UNDER CONSTRUCTION</h1>
  <p>Look for the release of Chronicle some six to nine months after the publication of <a href="/<%= book["other_book_location"] %>"><i>Clawing for the Stars.</i></a></p>
  <p id="contact-p">Should you have questions or problems with my website, please contact me with email at <a href="mailto:r1villa@pacbell.net">r1villa@pacbell.net</a></p>
  <div id="site-credit-div">
    <p><i>Site designer: <a href="mailto:villarreal@weber.lol">Eric Weber</a> - Previous site designer: Nicholas Ward <a href="acknowledgements">(more)</a></i></p>
  </div>
</div>
