---
title: Sailing Ship Nautical Terms
content_page: true
media: historical
index_page: false
---

<div id="main">
  <h1 class="media-header">Sailing Ship Nautical Terms</h1>
  <a href="/chronicles/historical/">All Historical</a>

  <p>
    ABAFT. Toward the stern of a vessel.
    <br /><br />
    AFORE . Forward. The opposite of abaft.
    <br /><br />
    ALFONSINE TABLES. A set of astronomical data that enabled calculation of lunar and solar eclipses and the positions of the planets for any given time based on the Ptolemaic theory. Calculated in 1252, they were the best astronomical tables available, until the work of Nicolaus Copernicus superseded them in the 1550’s. SEE IMAGE 7E-G.15 on the site.
    <br /><br />
    AMIDSHIPS. In the center of the ship; either with reference to her length or to her breadth.
    <br /><br />
    ANCHOR. The weight by which, when dropped to the bottom, the vessel is held fast.
    <br /><br />
    ARM. Yard-arm. The extremity of a yard.
    <br /><br />
    ASTROLABE. An elaborate inclinometer historically used by astronomers and navigators to measure the inclined position in the sky of a celestial body, day or night. The word means "the one that catches the heavenly bodies." It can thus be used to identify stars or planets, to determine local latitudes, to survey, or to triangulate. It was used in classical antiquity, the Islamic Golden Age, the Middle Ages, and the Age of Discovery for all these purposes. Also, called a "ring." See images 7A-D.8,9 on the site. In order to use the astrolabe, the navigator held the instrument by the ring at the top. This caused it to remain in a vertical plane. The alidade was aligned to point at the object and the altitude was read off the outer degree scale. If observing a dim object such as a star, the navigator would observe the object directly through the alidade. If observing the sun, it was both safer and easier to allow the shadow of one of the alidade's vanes to be cast onto the opposite vane.
    <br /><br />
    ATHWART. Across.
    <br /><br />
    ATHWART-SHIPS: Across the line of the vessel’s keel. In opposition to fore-and-aft.
    <br /><br />
    BACK. To back a sail is to throw it aback. To back and fill is to alternately back and fill the sails.
    <br /><br />
    BEAMS. Strong pieces of timber stretching across the ship to support the decks. "On the weather or lee beam," is in a direction to windward or leeward, at right angles to the keel. "On beam ends:" The situation of a vessel when turned over by the winds so that her beams are inclined towards the vertical. BEAR. An object "bears" so and so, when it is in such a direction from the person looking.
    <br /><br />
    BEATING. Going toward the direction of the wind, by alternate tacks.
    <br /><br />
    BETWEEN-DECKS. The space between any two decks of a ship.
    <br /><br />
    BINNACLE. (See COMPASS, MAGNETIC).
    <br /><br />
    BOATSWAIN. (Pronounced bo-s’n). The ship’s officer (mate) who has charge of the rigging and calls the crew to duty.
    <br /><br />
    BOW. The rounded part of a vessel, forward.
    <br /><br />
    BOWLINE. (Pronounced bo-lin.). A vessel is said to be "on a bowline" or "on a taut bowline" when she is close-hauled.
    <br /><br />
    BROADSIDE. The entire side of a vessel.
    <br /><br />
    BULK HEAD. Partitions of boards to separate different parts of a vessel. BULWARKS. The woodwork around a vessel, above her deck, consisting of boards fastened to stanchions and timber-heads.
    <br /><br />
    BUNTLINES. Ropes used for hauling up the body of a sail.
    <br /><br />
    BY. "By the head." Said of a ship when her head is lower in the water than her stern. If her stern is lower, she is "by the stern." 
    CABIN. The after part of a ship, where the officers live.
    <br /><br />
    CANVAS. The cloth of which sails are made.
    <br /><br />
    CLEW. The lower corner of square sails, and the after corner of a fore-and-aft sail. "To clew up" is to haul up the clew of a sail.
    <br /><br />
    CLOSE-HAULED. Applied to a ship that is sailing with her yards braced up so as to get as much as possible to windward. The same as "on a top bowline," "full and by," and "on the wind." 
    COMPASS. The instrument that tells the course of a vessel. See image 5QQ-SS.18 on the site.
    <br /><br />
    COMPASS, MAGNETIC: Pastene used a magnetic compass to plot his way over the sea. Introduced into Europe around 1200 AD, it, along with dead reckoning, determined a ship’s forward progress. At the forward edge of the bowl, a black, vertical line was drawn. As the needle always seeks magnetic north, the point on the circle that touched the vertical line indicated the direction in which the ship was heading, as long as the diameter of the bowl that passed through the line was kept parallel to the ship’s keel. That was done by keeping the compass in a fixed position in the binnacle, a rectangular box secured to the deck. It was located on the quarter-deck where the captain could watch it. He was then able to give orders to the helmsman as to the course.
    <br /><br />

    COMPASS POINTS:
    <table style="border-collapse: collapse">
      <tr>
        <th style="padding-right: 100px">COMPASS POINT</th>
        <th style="padding-right: 100px">ABBREVIATION</th>
        <th>IN DEGREES</th>
      </tr>
      <tr><td>NORTH</td><td>N</td><td>0</td></tr>
      <tr><td>NORTH by EAST</td><td>N by E</td><td>11 ¼</td></tr>
      <tr><td>NORTH NORTHEAST</td><td>NNE</td><td>22 ½</td></tr>
      <tr><td>NORTHEAST by NORTH</td><td>NE by N</td><td>33 ¾</td></tr>
      <tr><td>NORTHEAST</td><td>NE</td><td>45</td></tr>
      <tr><td>NORTHEAST by EAST</td><td>NE by E</td><td>56 ¼</td></tr>
      <tr><td>EAST NORTHEAST</td><td>ENE</td><td>67 ½</td></tr>
      <tr><td>EAST by NORTH</td><td>E by N</td><td>78 ¾</td></tr>
      <tr><td>EAST</td><td>E</td><td>90</td></tr>
      <tr><td>EAST by SOUTH</td><td>E by S</td><td>101 ¼</td></tr>
      <tr><td>EAST SOUTHEAST</td><td>ESE</td><td>112 ½</td></tr>
      <tr><td>SOUTHEAST by EAST</td><td>SE by E</td><td>123 ¾</td></tr>
      <tr><td>SOUTHEAST</td><td>SE</td><td>135</td></tr>
      <tr><td>SOUTHEAST by SOUTH</td><td>SE by S</td><td>146 ¼</td></tr>
      <tr><td>SOUTH SOUTHEAST</td><td>SSE</td><td>157 ½</td></tr>
      <tr><td>SOUTH by EAST</td><td>S by E</td><td>168 ¾</td></tr>
      <tr><td>SOUTH</td><td>S</td><td>180</td></tr>
      <tr><td>SOUTH by WEST</td><td>S by W</td><td>191 ¼</td></tr>
      <tr><td>SOUTH SOUTHWEST</td><td>SSW</td><td>202 ½</td></tr>
      <tr><td>SOUTHWEST by SOUTH</td><td>SW by S</td><td>213 ¾</td></tr>
      <tr><td>SOUTHWEST</td><td>SW</td><td>225</td></tr>
      <tr><td>SOUTHWEST by WEST</td><td>SW by W</td><td>236 ¼</td></tr>
      <tr><td>WEST SOUTHWEST</td><td>WSW</td><td>247 ½</td></tr>
      <tr><td>WEST by SOUTH</td><td>W by S</td><td>258 ¾</td></tr>
      <tr><td>WEST</td><td>W</td><td>270</td></tr>
      <tr><td>WEST by NORTH</td><td>W by N</td><td>281 ¼</td></tr>
      <tr><td>WEST NORTHWEST</td><td>WNW</td><td>292 ½</td></tr>
      <tr><td>NORTHWEST by WEST</td><td>NW by W</td><td>303 ¾</td></tr>
      <tr><td>NORTHWEST</td><td>NW</td><td>315</td></tr>
      <tr><td>NORTHWEST by NORTH</td><td>NW by N</td><td>326 ¼</td></tr>
      <tr><td>NORTH NORTHWEST</td><td>NNW</td><td>337 ½</td></tr>
      <tr><td>NORTH by WEST</td><td>N by W</td><td>348 ¾</td></tr>
      <tr><td>NORTH</td><td>N</td><td>360</td></tr>
    </table>
    <br />
    CORPO SANTO ((holy body). See St. Elmo’s fire.
    <br /><br />
    DEAD RECKONING. A reckoning kept by calculating one's current position by using a previously determined position and advancing that position based upon known or estimated speeds over elapsed time and course.
    <br /><br />
    DRAUGHT. (Pronounced "draft.") The depth of water that a ship requires to float.
    <br /><br />
    EVEN-KEEL. The situation of a ship when she sits evenly upon the water, neither end being down more than the other.
    <br /><br />
    FATA MORGANA. Fata Morgana is a type of mirage, one that is normally associated with the open ocean but can also be seen at times on land. It takes its name from Arthurian legend, named for the sorceress Morgan le Fay, who was said to use these images to lure unwitting sailors into her traps. This type of mirage is responsible for all kinds of unusual sightings, from mountains in the middle of the ocean to ships that appear to by flying. For a Fata Morgana to appear, the atmospheric conditions have to be just right. It starts with a cold air mass close to the ground or surface of the water that is topped by a warm layer of air higher in the atmosphere. Although Fata Morgana can occur on land, they are more common at sea because water helps to form the cool air layer required. During a Fata Morgana sighting, rays of light passing through the warm and cool air masses are bent, thus causing the mirage to appear. Usually, the image is based on a real object, such as a far-off ship, but distorted to appear surreal. People report seeing floating ships, ships that appear to be flying upside down, or even landmasses that aren’t really there. The farther away from a Fata Morgana one is, the taller the mirage appears to be.
    <br /><br />
    FATHOM. One fathom is equal to six feet. Mariners have taken water soundings since Greek times using a lead weight attached to a thin, marked rope. On the Mississippi in Mark Twain’s day, they used "twain" for the word "two". Thus, a depth of two fathoms was called out as, "By the mark, twain." 
    <br /><br />
    FULL-AND-BY. Sailing close-hauled upon a wind.
    <br /><br />
    FURL. To roll a sail up on yard or boom securely.
    <br /><br />
    GALLEY. The place where the cooking is done.
    <br /><br />
    GANGWAY. That part of a ship’s side, amidships, where people pass on and off the vessel.
    <br /><br />
    GUNWALE. (Pronounced "gun-nel.") The upper rail of a ship.
    <br /><br />
    HALYARDS. Ropes used for raising and lowering sails and yards and flying signal flags.
    <br /><br />
    HAMMOCK. A piece of canvas, hung at each end, in which a seaman sleeps.
    <br /><br />
    HATCH. An opening in the deck to allow passage up and down.
    <br /><br />
    HAUL. Said of a ship when she comes up close upon the wind.
    <br /><br />
    HEAD. The unique figure at the prow of a vessel. Also, the lavatories in the bow.
    <br /><br />
    HEAVE-TO. To put a ship in the position of lying-to. See. Lie-to.
    <br /><br />
    HEEL. The after part of the keel. "To heel" is to lie over on one side.
    <br /><br />
    HELM. The wheel and machinery by which the ship is steered.
    <br /><br />
    HOLD. The inner part of a vessel where the cargo is stored.
    <br /><br />
    JIB. A triangular sail set on a forward stay.
    <br /><br />
    KEEL. The lowest and principal timber of a ship, running fore and aft its entire length and supporting the entire frame.
    <br /><br />
    LABOR. A vessel is said to labor when she rolls and pitches heavily.
    <br /><br />
    LAND HO. The cry used when land is sighted.
    <br /><br />
    LATITUDE. Latitude is a geographic coordinate that specifies the north–south position of a point on the Earth's surface. Latitude is an angle which ranges from 0° at the Equator to 90° (North or South) at the poles. Lines of constant latitude, or parallels, run east–west as circles parallel to the equator. Latitude is used together with longitude to specify the precise location of features on the surface of the Earth.
    <br /><br />
    LEE. The side opposite to that from which the wind blows. If a vessel has the wind on her starboard side, that will be the "weather," and the port side will be the "lee" side.
    <br /><br />
    LEEWARD. Any direction away from that whence the wind blows, as opposed to "windward," which means any direction toward the wind.
    <br /><br />
    LIE-TO. To stop the progress of a ship, either by counterbracing the yards or by reducing sail.
    <br /><br />
    LIST. To incline to one side, as a ship might list to port or starboard.
    <br /><br />
    LOG or LOG-BOOK. A journal kept by an officer, in our case, Captain Pastene, in which the situation of the vessel, winds, weather, courses, distances, and everything of importance that occurs is noted down.
    <br /><br />
    LONG-BOAT. The small boat to carry passengers to and from shore.
    <br /><br />
    LONGITUDE. Longitude is a geographic coordinate that specifies the east–west position of a point on the Earth's surface. It is an angular measurement, usually expressed in degrees. Meridians (lines running from pole to pole) connect points with the same longitude. The only practical method for determining longitude at the time of the Conquest was a well-known method of timing eclipses. The eclipse timing method is, first, to determine the local time that starts or ends by direct observation. Then compare the local time for that event against the local time at some distant place. The difference in the two times is the difference in longitude. Neither Pastene nor Ruíz refers to the determination of longitude as they probably were mystified by it.  Following the South American coast line in the new land was much easier to do, and that is what they did.
    <br /><br />
    MAST. A spar set upright from the deck to support rigging, yards, and sails.
    <br /><br />
    MASTER. The master was the captain of a sailing ship.
    <br /><br />
    MATE. The master's first mate was responsible for fitting out the ship, and making sure it had all the sailing supplies necessary for the voyage. He hoisted and lowered the anchor, docked and undocked the ship, examined the ship daily, notifying the master if there were problems with the sails, masts, ropes, or pulleys. He executed the orders of the captain, and would command in his place if he was sick or absent.
    <br /><br />
    MERIDIAN. A line of longitude.
    <br /><br />
    MESS. Any number of men who eat and lodge together.
    <br /><br />
    MIDSHIPS. The timbers at the broadest part of the vessel.
    <br /><br />
    MIZZEN-MAST. The aftermost mast of a ship.
    <br /><br />
    PARALLEL. A line of latitude.
    <br /><br />
    PERU OR HUMBOLDT CURRENT. This current extends from southern Chile (~45th parallel south) to northern Peru (~4th parallel south) where cold, up welled waters intersect warm tropical waters to form the Equatorial Front.  Captains Pastene, Ruíz, and Grijalva knew it as the Peru Current. Its alternative name is taken from that of the German scientist Alexander von Humboldt, who in 1802 took measurements that showed the coldness of the flow in relation to the air above it and the sea around it.
    <br /><br />
    The trade winds are the primary drivers of the Peru/Humboldt Current circulation. Variability in this system is driven by latitudinal shifts between the Intertropical Convergent Zone and the trade winds in the north. Shifts within the South Pacific High at mid-latitudes, as well as cyclonic storms and movement of the Southern Westerlies southward also contribute to system changes. Atmospheric variability off central Chile is enhanced by the aggravation of coastal low pressure systems trapped between the marine boundary layer and the coastal mountains. This is prominent poleward from 27th parallel south to 42nd parallel south.
    <br /><br />
    PORT. The left side of a vessel.
    QUARTER-DECK. That part of the upper deck abaft the main mast.
    <br /><br />
    REEF. To reduce a sail by taking it in upon its head, if a square sail, and its foot, if a fore-and-aft sail.
    <br /><br />
    RIGGING. The general term for all the ropes of a vessel.
    <br /><br />
    ROAD, ROADS, OR ROADSTEAD. An anchorage at a distance from shore.
    <br /><br />
    SAILOR, SEAMAN, MARINER. Names for those who manned sailing ships.
    <br /><br />
    SAILS. Sails are of two kinds: square sails, which hang from yards, their foot lying across the line of the keel; and fore-and-aft sails that sit upon gaffs, their foot running with the line of the keel.
    <br /><br />
    SAND OR HOUR GLASS. The nautical half-hour sandglass is a timepiece known since the 14th century (although presumed to be of very ancient use and origin). They were employed to determine the standing time of the watches. Columbus, for example, used them on his voyages in the late 15th century. The British navy kept watch times with them until 1839. Also, they helped determine a ship’s speed and distance traveled. (See Speed Measurement.)
    <br /><br />
    SCUD. To drive before a gale, with no sail, or only enough to keep the ship ahead of the sea. Also, low clouds that fly swiftly before the wind.
    <br /><br />
    SCUPPERS. Holes cut in the water-ways for the sea water to run from the decks.
    <br /><br />
    SOLAR ECLIPSE. The story de Mérida tells in the Seventh Letter about how Captain Almagro used a solar eclipse to his advantage was due to the ship’s master’s use of the Alfonsine Tables to predict the event.
    <br /><br />
    SOUNDING. See FATHOM.
    <br /><br />
    SPAR. The general term for all masts, yards, booms, and gaffs.
    <br /><br />
    SPEED MEASUREMENT. In Pastene’s day, pilots used a shaped piece of wood attached to a line in which knots were spaced, so that the number of knots paid out in half an hour, as measured by a half-hour sand glass, equaled the number of nautical miles per hour the ship was making. Hence comes the word "knots" for speed at sea.
    <br /><br />
    ST. ELMO’S FIRE. St. Elmo's fire (also St. Elmo's light) is a weather phenomenon in which luminous plasma is created by a coronal discharge from a sharp or pointed object in a strong electric field in the atmosphere (such as those generated by thunderstorms or created by a volcanic eruption). St. Elmo's fire is named after St. Erasmus of Formia (also called St. Elmo, one of the two Italian names for St. Erasmus, the other being St. Erasmo), the patron saint of sailors. The occurrence sometimes appeared on ships at sea during thunderstorms and was regarded by sailors with religious awe for its glowing ball of light, accounting for the name. Sailors considered St. Elmo's fire as a good omen (as a sign of the presence of their patron saint). Also known as corpo santo (holy body).
    <br /><br />
    STARBOARD. The right side of a ship.
    <br /><br />
    STERN. The after end of a vessel.
    <br /><br />
    STRIKE. To lower a sail.
    <br /><br />
    TACK. To put a ship about, so that having the wind on one side, she is brought about on the other. Also, a ship is on the starboard tack when she has the wind on the starboard side.
    <br /><br />
    TOP. A platform placed over the head of a mast for the convenience of men aloft.
    <br /><br />
    TRADES. The trade winds (also called trades) are the prevailing pattern of easterly surface winds found in the tropics near the Earth’s equator. These winds blow predominantly from the northeast in the Northern Hemisphere and from the southeast in the Southern Hemisphere. The trade winds act as the steering flow for tropical cyclones that form over the world's oceans, guiding their path westward.
    <br /><br />
    TRUCK. A circular piece of wood at the head of the highest mast of a ship, with small holes for signal halyards.
    <br /><br />
    WAIST. That part of the upper deck between the quarter-deck and forecastle.
    <br /><br />
    WATCHES: The seamen of a sailing ship were divided into two watches, one the starboard and the other the port. Each watch period varied between the two, so that over two days their total watch times were identical. The time was kept by the 30 minute sand glass. Please see below:
    DAY 1 DAY 2 
    First watch: 2000 to 0000 starboard port 
    Middle watch: 0000 to 0400 port starboard
    Morning watch: 0400 to 0800 starboard port
    Forenoon watch: 0800 to 1200 port starboard
    Afternoon watch: 1200 to 1600 starboard port
    First dog watch: 1600 to 1800 port starboard 
    Last dog watch: 1800 to 2000 starboard port
    TOTAL HOURS DAY 1: Starboard = 14; Port = 10 
    TOTAL HOURS DAY 2: Starboard = 10; Port = 14 
    WEIGH: To lift up, as to weigh the anchor.
    <br /><br />
    WESTERLIES. The westerlies are the prevailing winds in the middle latitudes (i.e., between 35 and 65 degrees latitude), which blow in areas pole ward of the high pressure area known as the subtropical ridge. These prevailing winds blow from the west to the east, and steer extra-tropical cyclones in this general manner. The winds are predominantly from the southwest in the Northern Hemisphere and from the northwest in the Southern Hemisphere.
    <br /><br />
    WHEEL. The instrument by which the ship is steered.
    <br /><br />
    WHISTLE. This was today’s "bosun’s whistle" used by a petty officer (boatswain) in charge of rigging, anchors, cables, and watches to communicate with sailors. Ancient Greeks and Romans used flutes.
    <br /><br />
    WINDWARD: The direction upwind from the point of reference, that is, the direction from which the wind is coming.
    <br /><br />
    YARD. A long piece of timber, hung at the center to a mast, to spread square sails upon.
  </p>
</div>
