---
title: New Laws of the Indies
content_page: true
media: historical
index_page: false
---

<div id="main">
  <h1 class="media-header">NEW LAWS OF THE INDIES FOR THE GOOD TREATMENT AND PRESERVATION OF THE INDIANS</h1>
  <a href="/chronicles/historical/">All Historical</a>

  <p>
    Governors had an obligation to take care of the well-being and preserve Native Americans (referred to as Indians by the law).
    <ol>
      <li>That there was no motive to enslave them in the future, not by war, nor due to rebellion, nor to ask for a rescue, nor for any reason or in any way.</li>
      <li>That native Americans currently enslaved must be freed immediately, unless the owner could prove (in Spain, which implied travelling back there) the full juridical legitimacy of such a state.</li>
      <li>That the 'bad habit' of making Native Americans work as slaves against their will or without fair payment must be ended immediately.</li>
      <li>That they must not be taken to remote regions to fish for pearls.</li>
      <li>That only the viceroy had the right to establish encomiendas on Native Americans. The prohibition to establish encomiendas included all religious orders, hospitals, commonalities, and civil servants.</li>
      <li>That the "distribution" (of people and lands) given to the original conquerors (as a feudal lordship of sorts) should stop immediately after their death, and both land and the native people would become subject to the Crown.</li>
    </ol>
  </p>
</div>
