---
title: The chief and his Indians at one village welcomed Captain Orellana and his companions with a dance similar to this one
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">The chief and his Indians at one village welcomed Captain Orellana and his companions with a dance similar to this one</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
