---
title: How the Companions Made a Fire On Their Amazon Voyage.
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">How the Companions Made a Fire On Their Amazon Voyage.</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
