---
title: Home
page: home
---

<div id="home-content-div">
  <h1 id="title-header" class="main-header"><%= book["home_title_text"] %></h1>
  <h2><%= book["subtitle"] %></h2>
  <div id="home-image-div">
    <img id="home-image" src="../../images/az/MAP_AGS.png" width="100%" height="auto" />
  </div>
  <div id="description-wrapper-div">
    <div id="description-div">
      <p id="book-description-p">Francisco do Orellana's Voyage of Discovery Down the Amazon, 1541-1542. Courtesy of American Geographical Society.</p>
    </div>
  </div>
  <p id="contact-p">Should you have questions or problems with my website, please contact me with email at <a href="mailto:r1villa@pacbell.net">r1villa@pacbell.net</a></p>
  <div id="site-credit-div">
    <p><i>Site designer: <a href="mailto:villarreal@weber.lol">Eric Weber</a> - Previous site designer: Nicholas Ward <a href="acknowledgements">(more)</a></i></p>
  </div>
</div>
