---
title: Another boat ride on an Amazon tributary.
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">Another boat ride on an Amazon tributary.</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
