---
title: A video of how to shoot a medieval crossbow.
content_page: true
media: historical
index_page: false
---

<div>
	<h1 class="media-header" id="tours-header">A video of how to shoot a medieval crossbow.</h1>
	<a id="historical-link" href="/<%= book["shortname"] %>/historical/">All Historical and Miscellaneous</a>
  <%= partial "partials/tours" %>
</div>
