<div id="header">
  <div id="about-menubar-div">
    <a class="about-menu-link" href="/aboutbook">ABOUT THE BOOK</a> -
    <a class="about-menu-link" href="/acknowledgements_and_reviews">ACKNOWLEDGEMENTS</a> -
    <a class="about-menu-link" href="/acknowledgements_and_reviews#reviews-header">REVIEWS</a> -
    <a class="about-menu-link" href="/aboutauthor">ABOUT THE AUTHOR</a>
  </div>
</div>
