<div class="content-container-div" id="tour-container-div">
	<div class="tour-div embedded-movie-container-div">
		<iframe id="youtube" width="960" height="540" src="<%= tour_info["url"] %>" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
