---
title: Bob Villarreal - About Clawing
page: clawing about book
about_page: true
---

<div id="about-content-div">
  <h1 id="about-header" class="main-header"><span id="about-first-line-span" class="main-header-first-line-span">CLAWING FOR THE STARS:</span><br />ABOUT THE BOOK</h1>
  <iframe width="420" height="315" src="//www.youtube.com/embed/L8S9S4fHHpY?rel=0" frameborder="0" allowfullscreen></iframe>
  <p>In this video, author Bob Villarreal explains the start of his interest in high-altitude climbing and the origins of <i>Clawing for the Stars.</i></p>

  <p>I began my career of thirty climbs in the Highest Andes in my mid-forties and continued through my mid-sixties. What motivated me? What was I seeking? Adventure? Danger? Something of greater meaning? Did I ever find what I sought? I thought I knew the answers to these questions until someone asked me. Perhaps the reader will understand what drove me on by reading each absorbing chapter.</p>

  <p>This book is a collection of short accounts of my most memorable climbing trips. They are stories of character and personality unique to me that took place in exotic, faraway places that just happened to be in the Andes: Aconcagua, Argentina (<span class="height">22,834', 6960 m</span>); Ojos del Salado, Chile (<span class="height">22,609', 6891 m</span>); Pissis, Argentina (<span class="height">22,293', 6795 m</span>); Tres Cruces, Sur, Chile (<span class="height">22,133', 6746 m</span>); Llullaillaco, Chile (<span class="height">22,109', 6739 m</span>); Tres Cruces, Central (<span class="height">21,743', 6627 m</span>); Illimani, Bolivia (<span class="height">21,201', 6462 m</span>); Chimborazo, Ecuador (<span class="height">20,564', 6268 m</span>).</p>

  <p>For many years, my personal memories of adventures among these high, magical mountains were enough. But one day, my grandson asked me to write about my climbs. This book honors his request and honors those great peaks, where so much of my thoughts still reside.</p>

  <p>I first studied the craft of climbing with the American Alpine Institute (AAI), the best guiding company in the U.S., on three climbs over three years. Then began my career of climbing alone, but occasionally with friends and paying clients. I ended with a total of thirty climbs -- three with AAI, seven with clients and friends, and the remainder solo. My narratives of those trips are pure adventure, like stories found only in the movies and books of fiction -- and here I was actually living them out! They occurred in some of the remotest parts of the Chilean and Argentine Andes, where the nearest human being was often a two-day hike away.</p>

  <p>In my stories, I always set out on a climb not knowing what I would find along the way, except the silence and solitude I crave. Of course, one goal was to reach the top of the mountain. But early on I came to know that reaching the summit was secondary to me. It was the journey that mattered most, the journey from home to the peak, the climb up the mountain, and the return once more to family and safety.</p>

  <p>Reflecting upon those ascents today, I feel several different emotions, including great pleasure -- the flute-like sounds from a rock high on Pissis as the wind played through its wind-eroded apertures; the surprising discovery of small brine shrimp in a pond at <span class="height">18,600' (5670 m)</span> on Tres Cruces; my partner's providential recovery from a hallucination on the summit of Ojos del Salado.</p>

  <p>I remember, also, more than just the physical act of climbing, such as the moments when danger was so close I could taste it. These recollections, too, are always with me and tend to balance those of joy and contentment -- the time fear gripped me so tightly on Tres Cruces that my legs refused to move on summit day; or the climb on which a client contracted cerebral edema and faced possible death; and the feeling of a "presence" on the ice table on Llullaillaco so strong that I knew something strange was nearby.</p>

  <p><i>Clawing for the Stars: A Solo Climber in the Highest Andes</i> presents to my grandson and others the beauty of this totally different world and the drama that often accompanied my travels. In reading about my journeys, they may come to know what it is like to confront some of the high places on earth completely alone and on one's own terms.</p>

  <p>This book uses the format of "Read and View: A New And Exciting Way To Enjoy a Book." Visual and audio content reside on this website and enhance the book reader's experience. There are Google Tours for each chapter, photos by chapter, a Google Panoramio site with more photos, and camcorder movies of some of the climbs. These features will allow the reader to enjoy the book even more.</p>
</div>
