---
title: Bob Villarreal - About Clawing
page: clawing acknowledgements and reviews
about_page: true
---

<div id="acknowledgements-content-div">
  <h1 id="acknowledgements-header" class="main-header"><span id="acknowledgements-first-line-span" class="main-header-first-line-span">CLAWING FOR THE STARS:</span><br />ACKNOWLEDGEMENTS</h1>
  <p>This book uses the format of "Read and View: A New And Exciting Way To Enjoy a Book." Visual and audio content reside on this website and enhance the book reader's experience. There are Google Tours for each chapter, photos by chapter, a Google Panoramio site with more photos, and camcorder movies of some of the climbs. These features will allow the reader to enjoy the book even more.</p>
</div>
<div id="reviews-content-div">
  <h1 id="reviews-header" class="main-header">REVIEWS</h1>
  <p>Unsolicited review by a reader:</p>
  <p>"While we were on vacation this past week at the beach I had opportunity to read your book. It almost ruined my vacation as I could hardly put it down once I started. You have a definite writers flair and your style is something like a cross between Hemingway in style and Michener in details. Anyway, I found it fascinating and learned enough about high altitude climbing that I doubt I would have made a successful climber. You had me thinking at almost every turn you were going to die or incur great calamity from a fall or cerebral edema (a term I have never heard).</p>
  <p>I hope your grandson was thrilled with the book and I hope you will if not already take him to see the great peaks of the Andes. I certainly hope the book sells well and sends you up the mountain again. I almost think the book should become a required reading for anyone who even thinks they want to be a high altitude climber."</p>
</div>
