---
title: Bob Villarreal - Clawing Home
page: clawing home
---

<div id="home-content-div">
  <h1 id="title-header"><u>CLAWING FOR THE STARS:</u> A SOLO CLIMBER IN THE HIGHEST ANDES</h1>
  <div id="title-div">
    <img id="home-image" src="images/home.jpg" width="100%" height="auto" />
    <p id="title-image-caption-p">Self photo on the summit of Pissis, West I, Argentina, 22,135 feet (6747 m), a first solo ascent. R. Villarreal Collection.</p>
  </div>
  <p>An aging climber returned again and again, alone, to remote Andean mountains. What motivated him? What was he seeking? Adventure? Danger? Something of deeper meaning? Did he ever find what he sought? Perhaps the reader will come to understand what drove him on with the reading of each chapter.</p>
  <p id="contact-p">Should you have questions or problems with my website, please contact me with email at <a href="mailto:r1villa@pacbell.net">r1villa@pacbell.net</a></p>
</div>
