---
title: Bob Villarreal - Home
page: index
---

<div class="book-container-div">
  <a href="/clawing/index.html">
    <div class="book-div">
      <div class="book-title-div">
        <h1 id="title-header" class="main-header"><span id="title-first-line-span" class="main-header-first-line-span">CLAWING FOR THE STARS:</span><br />A SOLO CLIMBER<br />IN THE HIGHEST ANDES</h1>
      </div>
      <img id="clawing-image" src="../../images/clawing/home.jpg" width="100%" height="auto" />
      <p>Click to visit the site for <i>Clawing for the Stars</i></p>
    </div>
  </a>
</div>
<div class="book-container-div">
  <a href="/chronicles/index.html">
    <div class="book-div">
      <div class="book-title-div">
        <h1 id="title-header" class="main-header"><span class="main-header-first-line-span">THE ADVENTURE CHRONICLES</span><br/>of Conquistador Pedro de Mérida</h1>
      </div>
      <img id="chronicles-image" src="../../images/chronicles/demerida-short.jpg" width="100%" height="auto" />
      <p>Click to visit the site for <i>The Adventure Chronicles of Pedro de Mérida</i></p>
    </div>
  </a>
</div>
