---
title: Bob Villarreal - Home
page: index
---

<div id="center-section">
  <h1 id="site-header">BOB VILLARREAL</h1>
  <p id="site-description-p">Author Bob Villarreal's works range from Clawing for the Stars, an autobiographical account of climbing Andean mountains, to The Adventure Chronicles of <i>Conquistador</i> Pedro de M&eacute;rida, in which Bob's own adventures lend singular insight to his examination of the original sources, to his anthologies of the very best classical Greek and Roman literature. Select a specifc work below to learn more.</p>
  <div id="clawing-container-div" class="book-container-div">
    <a href="/clawing/index.html">
      <div class="book-div">
        <div class="book-title-div">
          <h1 id="clawing-main-header" class="main-header"><span id="title-first-line-span" class="main-header-first-line-span">CLAWING FOR<br />THE STARS:</span><br />A SOLO CLIMBER<br />IN THE HIGHEST ANDES</h1>
        </div>
        <img id="clawing-image" src="../../images/clawing/home.jpg" width="100%" height="auto" />
        <p>Click to visit the site for <i>Clawing for the Stars</i></p>
      </div>
    </a>
  </div>
  <div id="almagro-container-div" class="book-container-div">
    <a href="/chronicles/index.html#almagro">
      <div class="book-div">
        <div class="book-title-div">
          <h1 id="almagro-main-header" class="main-header chronicles-main-header"><span class="main-header-first-line-span">THE ADVENTURE CHRONICLES</span><br/>of <i>Conquistador</i><br />Pedro de Mérida<br />Volume I: Almagro</h1>
        </div>
        <img id="chronicles-image" src="../../images/chronicles/demerida-short.jpg" width="100%" height="auto" />
        <p>Click to visit the site for <i>The Adventure Chronicles of Pedro de Mérida</i></p>
      </div>
    </a>
  </div>
  <div id="valdivia-container-div" class="book-container-div">
    <a href="/chronicles/index.html#valdivia">
      <div class="book-div">
        <div class="book-title-div">
          <h1 id="valdivia-main-header" class="main-header chronicles-main-header"><span class="main-header-first-line-span">THE ADVENTURE CHRONICLES</span><br/>of <i>Conquistador</i><br />Pedro de Mérida<br />Volume II: Valdivia</h1>
        </div>
        <img id="chronicles-image" src="../../images/valdivia/valdivia-short.png" width="100%" height="auto" />
        <p>Click to visit the site for <i>The Adventure Chronicles of Pedro de Mérida</i></p>
      </div>
    </a>
  </div>
  <div id="pizarro-container-div" class="book-container-div" style="position: relative">
    <a href="/chronicles/index.html#pizarro">
      <div class="book-div">
        <div class="book-title-div">
          <h1 id="pizarro-main-header" class="main-header chronicles-main-header"><span class="main-header-first-line-span">THE ADVENTURE CHRONICLES</span><br/>of <i>Conquistador</i><br />Pedro de Mérida<br />Volume III: Pizarro</h1>
        </div>
        <img id="chronicles-image" src="../../images/pizarro/pizarro-short.jpg" width="100%" height="auto" />
        <p>Click to visit the site for <i>The Adventure Chronicles of Pedro de Mérida</i></p>
      </div>
    </a>
  </div>
  <div id="prelude-container-div" class="book-container-div" style="position: relative">
    <a href="/prelude/index.html">
      <div class="book-div">
        <div id="prelude-title-div" class="book-title-div">
          <h1 id="prelude-main-header" class="main-header">CLAWING FOR THE STARS:<br />A SOLO CLIMBER<br />IN THE HIGHEST ANDES<br/><span class="main-header-first-line-span">THE PRELUDE</span><br/></h1>
          <p>A RENDERING OF MOUNTAINS ASCENDED BEFORE MY SOLO ANDEAN CLIMBS</p>
        </div>
        <img id="prelude-image" src="../../images/prelude/prelude.jpg" width="100%" height="auto" />
        <p>Click to visit the site for <i>The Prelude</i></p>
      </div>
    </a>
  </div>
  <div id="az-container-div" class="book-container-div" style="position: relative">
    <a href="/az/index.html">
      <div style="background-color: white; color: black; text-align: center; position: absolute; top: 15px; width: 100%;">Not yet available</div>
      <div class="book-div">
        <div id="az-title-div" class="book-title-div">
          <h1 id="az-main-header" class="main-header">DOWN THE AMAZON RIVER, WITH CAPTAIN FRANCISCO DE ORELLANA, THE ONE-EYED KNIGHT, A VOYAGE OF DISCOVERY IN 1541-1542, AS TOLD BY ALONSO GUTI&Eacute;RREZ OF BADAJOZ, ONE OF HIS FIFTY-SEVEN FAITHFUL COMPANIONS<br/></h1>
          <p>A STORY OF SUCH WONDER AND FASCINATION THAT THOSE OF MY FAMILY WHO READ OF IT WILL DO SO IN ASTONISHMENT.</p>
        </div>
        <img id="az-image" src="../../images/az/az-placeholder.png" width="100%" height="auto" />
        <!-- <p>Click to visit the site for <i>The az</i></p> -->
      </div>
    </a>
  </div>
  <div id="climbing-container-div" class="book-container-div" style="position: relative">
    <a href="/climbing/index.html">
      <div style="background-color: white; color: black; text-align: center; position: absolute; top: 15px; width: 100%;">Not yet available</div>
      <div class="book-div">
        <div id="climbing-title-div" class="book-title-div">
          <h1 id="climbing-main-header" class="main-header">Climbing Amongst the Great Andes of South America: A Collection of Memorable Moments On Climbs of Thirty-two peaks Over Eighteen Years.<br/></h1>
        </div>
        <img id="climbing-image" src="../../images/climbing/0ALL43_FRONT_COVER_HUTS.jpg" width="100%" height="auto" />
        <!-- <p>Click to visit the site for <i>The az</i></p> -->
      </div>
    </a>
  </div>
</div>
